.estado-label {
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
}

.estado-label-nueva {
    background-color: blue;
}

.estado-label-pendiente_de_cobro {
    background-color: orange;
}

.estado-label-cobrada {
    background-color: green;
}
