body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

/* TO-DO: Remove form-control selectors after migrating stats component to MUI */
.form-control[readonly] {
    background-color: white;
    border: 1px solid #f8f5f5;
}

.form-control:not([readonly]):focus {
    background-color: rgb(247 251 255);
}

/* ------------- CSS properties for table cell content ------------- */

/* MUI sets 'text-align: left' to MuiTableCell-root, which prevails over index.css */
.cubic-metre {
    text-align: right !important;
    white-space: nowrap;
}

.cubic-metre:not(:empty)::after {
    color: #888;
    content: " ㎥";
    font-size: 0.85em;
    font-weight: normal;
}

.dollar {
    text-align: right !important;
    white-space: nowrap;
}

.dollar:not(:empty)::after {
    color: #888;
    content: " $";
    font-size: 0.75em;
    font-weight: normal;
}

.bold {
    font-weight: 600;
}

.text-danger {
    color: red;
}

.small {
    font-size: 85%;
}
