body {
    padding-top: 5rem;
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 0.8rem;
    }

    .btn,
    .custom-select,
    .form-control {
        font-size: 0.8rem;
    }

    .form-group {
        margin-bottom: 5px;
    }

    label {
        margin: 0;
    }

    .table td,
    .table th {
        padding: 0.55rem;
    }
}

.link-button {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.link-button:hover,
.link-button:focus {
    color: #333;
    text-decoration: underline;
}

.modal-dialog {
    margin: 4rem auto;
}

.form-control[readonly] {
    background-color: white;
    border: 1px solid #f8f5f5;
}

.form-inline label {
    border-bottom: 1px dotted #ccc;
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 10px;
    white-space: nowrap;
}

.form-inline input {
    margin-right: 10px;
    text-align: left;
    white-space: nowrap;
}

.form-control:not([readonly]):focus {
    background-color: rgb(247, 251, 255);
}

.cubic-metre {
    text-align: right;
    white-space: nowrap;
}

.cubic-metre:not(:empty)::after {
    color: #888;
    content: " ㎥";
    font-size: 0.85em;
    font-weight: normal;
}

.dollar {
    text-align: right;
    white-space: nowrap;
}

.dollar:not(:empty)::after {
    color: #888;
    content: " $";
    font-size: 0.75em;
    font-weight: normal;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.field-label label {
    color: grey;
    padding-right: 5px;
}

.field-label label::after {
    content: ":";
}

.navbar-brand {
    background-color: white;
    border-radius: 5px;
    padding: 2px 20px;
}

.table .thead-dark th {
    font-size: 0.85em;
    text-align: center;
}
