body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

/* ------------- CSS properties for table cell content ------------- */

/* MUI sets 'text-align: left' to MuiTableCell-root, which prevails over index.css */
.cubic-metre {
    text-align: right !important;
    white-space: nowrap;
}

.cubic-metre:not(:empty)::after {
    color: #888;
    content: " ㎥";
    font-size: 0.85em;
    font-weight: normal;
}

.dollar {
    text-align: right !important;
    white-space: nowrap;
}

.dollar:not(:empty)::after {
    color: #888;
    content: " $";
    font-size: 0.75em;
    font-weight: normal;
}

.bold {
    font-weight: 600 !important;
}

.text-danger {
    color: #d32f2f !important;
}

.small {
    font-size: 85% !important;
}
