body {
    padding-top: 5rem;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}

.modal-dialog {
    margin: 7rem auto;
}

.form-control[readonly] {
    background-color: white;
    border: 1px solid #eee;
}
