body {
    padding-top: 5rem;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}

.modal-dialog {
    margin: 7rem auto;
}

.form-control[readonly] {
    background-color: white;
    border: 1px solid #eee;
}

.form-inline .form-group {
    display: flex;
    justify-content: flex-end;
}

.form-inline label {
    border-bottom: 1px dotted #ccc;
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 10px;
    white-space: nowrap;
}

.form-inline input {
    margin-right: 10px;
    text-align: left;
    white-space: nowrap;
}
